<!DOCTYPE html>
<html th:replace="~{fragmentos/plantilla::pagina(~{this::title}, ~{this::body})}" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Editar/crear acogida</title>
</head>

<body>
	<h1 class="center-text" th:text="${esNuevo} ? 'Crear acogida' : 'Editar acogida'"></h1>

	<form th:object="${acogida}" class="form-horizontal" id="acogida-form" method="post">
		<div class="form-group has-feedback">

			<div class="form-group">
				
				<label class="col-2 control-label">Animal</label>
				<select class="col-10 form-control" th:field="*{animal}">
					<option th:value="null">Selecciona animal...</option>	
	                <option th:each="a : ${animales}" th:value="${a.id}"th:text="${a.nombre}" 
	                        selected="${!esNuevo && a.id == animal.id} ? 'selected' : 'none'">
	                </option>      
	            </select>
				
				<label class="col-2 control-label mt-3">Centro</label>
				<select class="col-10 form-control" th:field="*{centro}">
					<option th:value="null">Selecciona centro...</option>
	                <option th:each="c : ${centros}" th:value="${c.id}"th:text="${c.nombre}" 
	                        selected="${!esNuevo && c.id == centro.id} ? 'selected' : 'none'">
	                </option>      
	            </select>
	            
	            <label class="col-2 control-label mt-3">Fecha de entrada</label>
				<input type="date" class="col-10 form-control" th:field="*{fechaEntrada}" size="30" maxlength="100"  placeholder="Fecha de entrada..."/>
				
				<label class="col-2 control-label mt-3">Tipo de entrada</label>
				<input class="col-10 form-control" th:field="*{tipoEntrada}" size="30" maxlength="100" placeholder="Tipo entrada..." />
				
			</div>
			<div class="form-group">
				<a class="btn btn-inline btn-dark col-2" th:href="@{/acogidas/}">Cancelar</a>
				
				<button class="btn btn-inline btn-primary col-2" th:text="${esNuevo} ? 'Crear' : 'Guardar'" type="submit">
					Guardar</button>
			</div>
		</div>
	</form>

</body>
</html>